body {
    background-color: #000000;
    overflow-y: hidden;
}

canvas {
    display: block;
    margin: auto;
    width: 480px;
    height: 780px;
    cursor: pointer;
    overflow-y: hidden;
}

  
@media only screen and (max-width: 500px) {
    canvas {
      width: 300px;
      height: 600px;
    }
  }